# Database Configuration
DB_USERNAME=Hostel_yardformix
DB_PASSWORD=9694d0fea0c70ab19513962f597c7d558871fa16
DB_NAME=Hostel_yardformix
DB_HOST=110ar.h.filess.io
DB_PORT=3305

# Server Configuration
NODE_ENV=development
PORT=3000